.myheader {
  background: black;
  color: white;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
}

.class1 {
  font-size: 24px;
}

.class2 {
  font-size: 8px;
}
